.material-icons.md-48{
  color:black;
  font-size:180px ;
  position: relative;
  top: 10px;
}
.info{
  position: relative;
  top: -80px;
}
ul li{
  list-style: none;

}
.borde{
  display: inline-flex
}

#persona{
  margin:60px;
  padding:0px 120px 0px 0px;
  border:1px solid #000;
}

#informacion{
  display: inline-flex;
}

#nombre{
  display: inline-flex;
}

#ubicacion{
display: inline-flex;

}
