<div class="margen">
  <div>
    <h1><span class="material-icons md-48">perm_identity</span>Clientes</h1>
  </div>
  <div>
    <nav>
      <div id="config">
        <ul>
            <li>
              <a id="init"class="nav-link" href="../"><span class="material-icons md-dark">reorder</span>  Vista Card <span class="sr-only"></span></a>
            </li>

            <li>
              <a id="news" href="../noticias"><span class="material-icons md-dark">reorder</span>Lista <span ></span></a>
            </li>

            <li>
              <a id="servicio" href="../servicioalcliente"><span class="material-icons md-dark">add_circle_outline</span>Adicionar <span></span></a>
            </li>
        </ul>
      </div>
    </nav>
  </div>
</div>

